.about_hero {
    position: relative; /* Required for the overlay positioning */
    height: 70vh !important;
    background-image: url(https://lh3.googleusercontent.com/BZg8xd8Xdd8lms2sOILTY0WD4wcdFdqm8M5YpDkLZ3516uktmYfO8mTVOGp4iazfhLAdoCYPCyE22Z1m8qfeswCFZdfGgLtRIiQEsncPUQmkeqgdAeqU-Lb-kYHe=w599-nu-rw-e365);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 130px !important;
    color: white;
    z-index: 1;
}

.about_hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.550); /* Light black overlay */
    z-index: 0; /* Behind content */
}

.about_hero > * {
    position: relative;
    z-index: 1; /* Ensure content stays above the overlay */
}

.hero_desc {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px !important;
}
